# Supabase Public Keys (Used by the browser)
NEXT_PUBLIC_SUPABASE_URL=https://onglhhfekuagozlkvavu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9uZ2xoaGZla3VhZ296bGt2YXZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzODQ1MjAsImV4cCI6MjEwNDk2MDUyMH0.GEa2COCr9F9WORApDkg0BcNFaHvP1bf1kqrpkww_gFQ

# Supabase Secret Key (Used by Next.js API Routes / Webhooks securely)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9uZ2xoaGZla3VhZ296bGt2YXZ1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTM4NDUyMCwiZXhwIjoyMTA0OTYwNTIwfQ.p-BwK--AlsOgmdqhZ3EJuIaCoyi5daos5yI6qPCtOuY